/* VARIABLES BY PREFIX STRUCTURE */
:root {
  /* COLORS */
  --color-main: #fff;
  --color-secondary: #ff0000;
  --color-text-dark: #6a6a6a;
  --color-text-light: #b2b2b2;
  --color-title: #000;
  --color-background-dark: #28272c;

  /* FONTS */
  --font-main: "Nunito Sans", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

/* BASE */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-background-dark);
}

img {
  max-width: 100%;
  height: auto;
}

/* LAYOUT */
.container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.container--small {
  max-width: 904px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
}

/* COMPONETS */
.section-title {
  text-align: center;
  padding-bottom: 35px;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
}

.section-title::before,
.section-title::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--color-secondary);
  display: block;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 25px;
  }
}

.btn {
  background-color: transparent;
  text-transform: uppercase;
  padding: 22px 55px;
  border-radius: 40px;
  text-decoration: none;
  cursor: pointer;
}

.btn--red {
  color: var(--color-main);
  background-color: var(--color-secondary);
}

.btn--white {
  background-color: var(--color-main);
  color: var(--color-secondary);
}

.btn--card {
  padding: 11px 29px;
  font-size: 14px;
  align-self: flex-start;
}

.btn--form {
  padding: 10px 52px;
  border: 1px solid var(--color-secondary);
  box-shadow: 0 3px 6px #ff00004d;
  font-size: 14px;
  color: var(--color-secondary);
  align-self: flex-end;
  font-family: var(--font-main);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.logo__img {
  margin-right: 10px;
}

.logo__text {
  color: var(--color-secondary);
}

.logo__text span {
  font-weight: 600;
  color: var(--color-main);
}

@media screen and (max-width: 992px) {
  .logo__img {
    width: 30px;
    height: auto;
  }

  .logo__text {
    font-size: 30px;
  }

  .logo__text span {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .logo__img {
    width: 25px;
    height: auto;
  }

  .logo__text {
    font-size: 25px;
  }

  .logo__text span {
    font-size: 25px;
  }
}

.logo--footer {
  font-size: 25px;
}

.logo--footer .logo__img {
  max-width: 17px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card__title {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 19px;
}

.card__img {
  display: block;
}

.card__text {
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 1.4;
}

.card--blog .card__text {
  margin-bottom: 15px;
  max-width: 260px;
}

@media screen and (max-width: 768px) {
  .card--blog .card__text {
    max-width: 100%;
  }
}

.card--service {
  align-items: center;
}

@media screen and (max-width: 992px) {
  .card--service {
    flex: 0 0 calc(50% - 22.5px);
  }
}

.card--service .card__img {
  max-width: 170px;
}

.card--service .card__title {
  color: var(--color-main);
}

.card--service .card__text {
  text-align: center;
  color: var(--color-text-light);
}

.card--service .btn--card {
  align-self: center;
}

/* HEADER */
.header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 2px solid #ffffff33;
  background-color: #00000066;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* NAVIGATION */
.nav-toggle {
  display: none; /* Hide checkbox */
}

.hamburger {
  display: none; /* Hide hamburger */
}

.nav {
  height: 100%;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100%;
}

.nav__item {
  height: 100%;
}

.nav__link {
  color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 40px;
  height: 100%;
}

.nav__link:hover {
  background-color: rgba(225, 225, 225, 0.2);
}

@media screen and (max-width: 992px) {
  .nav__link {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .nav-toggle:checked + .hamburger + .nav {
    display: flex;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
    font-size: 24px;
    color: var(--color-secondary);
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #ffffff33;
    background-color: rgba(223, 217, 217, 0.85);
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    z-index: 1000;
    height: auto;
  }

  .nav__list {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
  }

  .nav__item {
    width: 100%;
  }

  .nav__link {
    padding: 10px;
    color: var(--color-secondary);
  }

  .nav__link:hover {
    background-color: rgba(243, 237, 237, 0.9);
  }
}

/* SECTION HERO */
.hero {
  background-image: url("../images/Image.jpg");
  height: 95dvh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  /* top: 0; */
  /* left: 0; */
  background: radial-gradient(
    ellipse 80% 60% at center,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.6) 100%
  );
  /* height: 100%; */
  /* width: 100%; */
  display: block;
}

.hero .container {
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.hero__title {
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

.hero__text {
  text-align: center;
  margin: 10px 0 54px;
}

.arrow {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  width: 55px;
  height: 55px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow__img {
  max-width: 22px;
}

@media screen and (max-width: 992px) {
  .hero__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 90vh;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero .arrow {
    width: 40px;
    height: 40px;
  }

  .arrow__img {
    max-width: 16px;
  }
}

.hero__buttons {
  display: flex;
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .hero__buttons {
    flex-direction: column;
    text-align: center;
  }
}

/* SECTION BLOG */
.blog {
  background-color: var(--color-main);
  padding: 90px 0 100px;
}

.blog__articles {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-dark);
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .blog__articles {
    flex-direction: column;
  }
}

/* SECTION SERVICE */
.service {
  padding: 60px 0 110px;
}

.service__articles {
  display: flex;
  gap: 45px;
}

@media screen and (max-width: 992px) {
  .service__articles {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .service__articles {
    flex-direction: column;
  }
}

.service__title {
  color: var(--color-main);
  padding-bottom: 75px;
}

/* CONTACT */
.contact {
  background-color: var(--color-main);
  padding: 65px 0;
}

.contact .container {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .contact .container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.contact__img,
.contact__form {
  width: calc(50% - 8px);
}

.contact__img {
  height: fit-content;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px 0 8px 12px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  font-family: var(--font-main);
}

textarea {
  height: 140px;
  resize: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  font-family: var(--font-main);
  color: var(--color-text-light);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #ff0000;
  box-shadow: 0 1px 6px #ff00004d;
}

.contact__checkbox {
  display: flex;
  cursor: pointer;
  gap: 10px;
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-text-light);
}

.contact__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.contact__checkbox span {
  height: 22px;
  width: 22px;
  flex-shrink: 0;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  border-radius: 8px;
}

.contact__checkbox input:checked + span {
  background-image: url("../images/Icon Check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .contact__img {
    width: 100%;
  }

  .contact__form {
    width: 100%;
  }
}

/* FOOTER */
.footer {
  margin: 40px 0 39px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  align-self: flex-end;
  color: var(--color-text-light);
  font-size: 12px;
}

.footer__menu {
  display: flex;
  gap: 141px;
  padding-top: 22px;
  text-transform: uppercase;
  font-size: 14px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer__link {
  text-decoration: none;
  color: var(--color-main);
}

.footer__link:hover {
  color: var(--color-secondary);
}

@media screen and (max-width: 768px) {
  .footer__menu {
    flex-direction: column;
    gap: 40px;
  }
}
